#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Estilos para el contenedor principal */
.animacion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
}

/* Estilos para cada reloj */
.clock {
  padding: 1em;
  margin: 2em;
  border-radius: 0.5rem;
  background-color: #f7f7f7;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  font-size: 0.8rem;
  font-weight: bold;
  text-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

/* Estilos para cada reloj al pasar el mouse */
.clock:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
}

/* Estilos para cada reloj al hacer click */
.clock:active {
  transform: translateY(0.1rem);
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
}

/* Estilos para la animación de entrada de cada reloj */
.clock.animation {
  opacity: 0;
  transform: translateY(1rem);
}

/* Estilos para cada reloj cuando se ha completado
